.authpage{
    background: linear-gradient(-140deg, white 20%, blue, red 100%);
    background: url(../../../public/NashBackground.jpg) (center / cover) no-repeat;
    min-height: 100vh;
    &__card{
        border-radius: 1rem;
        box-shadow: 8px 4px 8px 8px rgba(251, 251, 251, 0.24);
    }
    &__form{
        padding-bottom: 2rem !important;
    }
    &__errormsg{
        margin-top: 10px;
        font-size: 14px;
        color: rgb(212, 21, 21);
    }
    &__link{
        margin-top: 2rem;
        font-size: 1.3rem;
        color: #070d65; /* Цвет обычной ссылки */
        position: relative;
        cursor: pointer;
        text-decoration: none; /* Убираем подчеркивание */
        &:hover{
            color: rgb(53, 35, 218);
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px; /* Высота линии */
            background-color: rgb(155, 9, 43);/* Цвет подчеркивания при исчезании линии*/
            transition: width 0.5s; /* Время эффекта */
        }
        &:hover:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px; /* Высота линии */
            background-color: rgb(155, 9, 43); /* Цвет подчеркивания при появлении линии*/
            transition: width 0.5s;  /* Время эффекта */
        }
    }
}

.btnwrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    button{
        width: 75%;
        margin: 0 auto;
        margin-top: 15px;
    }
}