.watchscreen{
    &__player{
        box-shadow: 0px 5px 13px 4px rgba(1, 1, 2, 0.2);
        margin-top: 2vh;
        height: 60vh;
        background-color: black;
        width: 100%;
        margin-bottom: 2rem;
    }
}