.video{
    margin-top: 1rem;
    padding: 0.7rem;
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.5s ease;
   a{
        text-decoration: none;
        color: black;
    } 
    &:hover{
        transform: scale(1.15);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        background-color: rgb(202, 230, 248);
    }
    &__top{
        margin-bottom: 0.5rem;
        position: relative;
        
        img{
            width: 100%;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        }
        span{
            position: absolute;
            bottom: 0.3rem;
            right: 0.3rem;
            padding: 0.2rem;
            background: white;
            border-radius: 3px;
            font-size: 0.7rem;
        }
    }
    &__title{
        margin-bottom: 0;
        color: black;
        font-size: 1.2rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &__channel{
        display: flex;
        align-items: center;
        margin: 0.5rem 0;
        transition: 0.3s ease;
        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
            border-radius: 10px;
            background-color: rgb(142, 162, 252);
            font-weight: 700;
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 0.5rem;
            box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
        }
        p{
            cursor: pointer;
            margin-bottom: 0;
        }
    }
}