.videohorizontal {
    border-bottom: 2px groove rgb(65, 42, 239);
    transition: 0.4s ease;
    a{
        text-decoration: none;
        color: black;
    }
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        background-color: rgb(202, 230, 248);
        color: rgb(147, 10, 30);
    }
    &__left {
       position: relative;
       text-align: center;
       padding-left: 0 !important;
       img{
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
           width: 100%;
           height: 100%;
       }
       span{
            position: absolute;
            bottom: 0.3rem;
            right: 1rem;
            padding: 0.2rem;
            background: white;
            border-radius: 3px;
            font-size: 0.7rem;
        }
    }
    &__title {
       font-size: 1rem;
       font-weight: 500;
       letter-spacing: 0.3px;
       overflow: hidden;
       display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
    }
    &__title_search{
      font-size: 1.5rem;
      font-weight: 500;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    &__channel {
       display: flex;
       align-items: center;
       transition: 0.3s ease;
        &:hover{
            transform: scale(1.05);
            box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
            border-radius: 10px;
            background-color: rgb(142, 162, 252);
            font-weight: 700;
        }
       img {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-right: 0.5rem;
          cursor: pointer;
       }
       span {
          font-size: 0.9rem;
          margin-bottom: 0;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
       }
    }
    &__channel_search{
      width: 90%;
      display: flex;
      align-items: center;
      transition: 0.3s ease;
       &:hover{
           transform: scale(1.05);
           box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
           border-radius: 10px;
           background-color: rgb(142, 162, 252);
           font-weight: 700;
       }
      img {
         width: 7%;
         height: 7%;
         border-radius: 50%;
         margin-right: 0.8rem;
         margin-left: 1rem;
         cursor: pointer;
         transition: .5s ease;
         &:hover{
            transform: scale(1.5);
         }
      }
      span {
         font-size: 1.1rem;
         margin-bottom: 0;
         overflow: hidden;
         display: -webkit-box;
         -webkit-line-clamp: 1;
         -webkit-box-orient: vertical;
      }
    }
    &__searchdescr{
       margin-top: 20px;
       font-size: 0.9rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
 }
 .link{
    text-decoration: none;
    color: black;
 }