@import '../../../styles/abstracts/variables';

.profile {
   &__head{
      //border-bottom: 3px groove rgb(65, 42, 239);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
   }
   &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    h5{
      font-size: 2rem;
      color: rgb(28, 28, 125);
      font-weight: 500;
    }
      &__name{
        margin-right: 5px;
        color:rgb(135, 0, 0);
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 10px;
        font-size: 1.7rem;
      }
      &__sub{
         text-align: center;
         margin-top: 10px;
         font-weight: 700;
         font-size: 1.1rem;
         color:rgb(129, 11, 165);
      }
      span{
        margin-right: 5px;
        color:rgb(49, 0, 135);
        font-weight: 500;
        margin-left: 10px;
        font-size: 0.8rem;
      }
   }
   &__subbtn{
      text-decoration: none;
      display: inline-block;
      padding: 5px 20px;
      border-radius: 30px;
      background-image: linear-gradient(45deg, #6a79d7 0%, #33d9de 50%, #2f2fd3 100%);
      background-position: 100% 0;
      background-size: 200% 200%;
      font-size: 20px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      box-shadow: 0 4px 4px 0 rgba(0, 40, 120, .35);
      transition: .5s;
      &:hover{
          box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
          background-position: 0 0;
      }
  }
  &__descr{
      text-align: center;
      font-size: 2rem;
      color: rgb(28, 28, 125);   
      font-weight: 500;
   }
   &__portrait{
      position: relative;
      width: 40%;
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      img {
         width: 100%;
         height: 100%;
         border: 5px groove transparent;
         border-image: linear-gradient(to right, rgb(125, 4, 20) 0%, #4770d7 100%);
         border-image-slice: 0.5;
         box-shadow: 0px 5px 12px 7px rgba(135, 60, 239, 0.2);
      }
      &_overlay{
         position: absolute;
         width: 100%;
         height: 100%; /* Настройка цвета и прозрачности для блока с заголовком */
         transition: background 0.5s ease;
      }
      &_changebtn{
         position: absolute;
         width: 60%;
         top: 40%;
         text-align: center;
         opacity: 0;
         transition: opacity .35s ease;
         font-size: 1.5rem;
         font-weight: 500;
      }
      &:hover{
         .profile__portrait_overlay{
            display: block;
            background: rgba(0, 0, 0, 0.5); /* Настройка цвета и прозрачности для блока с заголовком при наведении */
         }
         .profile__portrait_changebtn{
            opacity: 1;
         }
      }
   }
   &__upload{
      margin-top: 20px;
      border-radius: 20px;
      color: blue;
      &_input{
         box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
      }
      &_btn{
         margin-top: 10px;
      }
   }
}

@media (max-width: $breakpoint-small) {
   .profile {
      padding: 1.1rem 0;
      &__portrait{
         width: 100%;
         height: 100%;
         img {
            width: 40%;
            height: 40%;
         }
         &_overlay{
            position: absolute;
            width: 100%;
            height: 100%; /* Настройка цвета и прозрачности для блока с заголовком */
            transition: background 0.5s ease;
         }
         &_changebtn{
            position: absolute;
            width: 60%;
            top: 40%;
            text-align: center;
            opacity: 0;
            transition: opacity .35s ease;
            font-size: 1.5rem;
            font-weight: 500;
         }
      }
      img {
         width: 100%;
         height: 100%;
      }
      h3 {
         font-size: 1rem;
         margin: 0;
      }
      h5{
         text-align: center;
      }
   }
}
