@import '../../../styles/abstracts/variables';

.channel {
   &__head{
      //border-bottom: 3px groove rgb(65, 42, 239);
      box-shadow: -5px -5px 5px -6px rgba(34, 60, 80, 0.6) inset;
   }
   &__details {
    transition: 0.5s ease;
    &:hover{
        transform: scale(1.2);
        box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
        border-radius: 20px;
        background-color: rgb(168, 184, 251);
        font-weight: 700;
        span{
            color: rgb(5, 3, 16);
            font-weight: 700;
        }
    }
      img {
         width: 60px;
         height: 60px;
         border-radius: 50%;
         box-shadow: 0px 5px 12px 7px rgba(135, 60, 239, 0.2);
         transition: 0.5s ease;
         &:hover{
            transform: scale(1.2);
         }
      }
      &__name{
        margin-right: 5px;
        color:rgb(135, 0, 0);
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 10px;
        font-size: 1.1rem;
      }
      span{
        margin-right: 5px;
        color:rgb(49, 0, 135);
        font-weight: 500;
        margin-left: 10px;
        font-size: 0.8rem;
      }
   }
   &__subbtn{
      text-decoration: none;
      display: inline-block;
      padding: 5px 20px;
      border-radius: 30px;
      background-image: linear-gradient(45deg, #6a79d7 0%, #33d9de 50%, #2f2fd3 100%);
      background-position: 100% 0;
      background-size: 200% 200%;
      font-size: 20px;
      font-weight: 700;
      color: rgb(255, 255, 255);
      box-shadow: 0 4px 4px 0 rgba(0, 40, 120, .35);
      transition: .5s;
      &:hover{
          box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
          background-position: 0 0;
      }
  }
  &__descr{
      text-align: center;
      font-size: 2rem;
      color: rgb(28, 28, 125);   
   }
}

@media (max-width: $breakpoint-medium) {
   .channel {
      padding: 1.1rem 0;

      img {
         width: 50px;
         height: 50px;
      }
      h3 {
         font-size: 1rem;
         margin: 0;
      }
   }
}