.uploadform{
    margin-top: 20px;
    &__dropwrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__fileinputwrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__dropzone{
        display: inline;
        width: 200px;
        height: 200px;
        border: 1px solid lightgray;
        margin-bottom: 20px;
        box-shadow: 0px 0px 7px 2px rgba(34, 60, 80, 0.2) inset;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active{
            border: 10px ridge rgba(50, 58, 200, 0.851);
        }
        &:hover{
            box-shadow:0 0 20px rgb(101, 154, 218) inset;
        }
        &_videoapproval{
            background: url(https://www.blackjacklivedealer.com/wp-content/uploads/2018/02/certified.jpg) (center / cover) no-repeat;
        }
        &_imgapproval{
            background: url(https://www.omoa-group.com/wp-content/uploads/2020/05/img_article_2-scaled.jpg) (center / cover) no-repeat;
        }
    }
    &__fileinput{
        margin-top: 5px;
        margin-bottom: 20px;
    }
    &__title{
        font-weight: 700;
        color: rgb(28, 28, 125);
    }
    &__descr{
        font-size: 18px;
        font-style: italic;
        margin-bottom: 10px;
    }
    &__form{
        padding-bottom: 2rem !important;
        box-shadow: 0px 0px 5px 2px rgba(34, 60, 80, 0.2) inset;
    }
    &__errormsg{
        margin-top: 10px;
        font-size: 14px;
        color: rgb(212, 21, 21);
    }
}

.btnwrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    button{
        width: 75%;
        margin: 0 auto;
        margin-top: 3rem;
    }
}