.comments{
    &__form{
        display: flex;
        width: 100%;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: contain;
            margin-right: 10px;
            box-shadow: 1px -1px 10px 2px rgba(34, 60, 80, 0.2);
        }
        form{
            display: flex;
            align-items: center;
            flex-grow: 1;
            margin-top: 5px;
        }
        input{
            border-radius: 10px;
        }
        button{
            cursor: pointer;
            &:active, &:focus{
                box-shadow:none !important;
                outline:0px !important;
            }
        }
    }
}