.comment{
    font-size: 0.9rem;
    display: flex;
    padding: 10px;
    border-bottom: 1px dashed rgb(12, 12, 166);
    a{
        text-decoration: none;
    }
    img{
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
        transition: 0.5s ease;
        &:hover{
           transform: scale(1.4);
        }
    }
    &__body {
        overflow: hidden;
     }
     &__header{
        color: black;
        margin-bottom: 1px;
    }
    &__username{
        color: rgb(105, 12, 122);
        font-weight: 700;
    }
    &__date{
        font-size: 0.8rem;
    }
     &__text{
         margin-bottom: 0;
     }
    &__delete {
        font-size: 0.8rem;
        margin-left: 10px;
        color: red;
        cursor: pointer;
    }
}