@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import '../abstracts/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: $light-primary;
    background-attachment: fixed;
    color: $text-dark;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
}
