@import "../../../styles/abstracts/_variables.scss";
.sidebar{
    background-color: rgba(243, 242, 242, 0.951);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 90vh;
    padding-top: 2rem;
    position: fixed;
    z-index: 777;
    animation: fadeInFromNone .2s ease-in;
    a{
        text-decoration: none;
        color: $text-dark;
    }
    li{
        display: flex;
        align-items: center;
        padding: 0.6rem 1.5rem;
        margin: 0.2rem 0;
        border-radius: 5px;
        cursor: pointer;
        span{
            margin-left: 1rem;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.4px;
        }
        &:nth-child(1):hover{
            background-color: rgba(255, 255, 255, 0.699);
        }
        &:nth-child(2):hover{
            background-color: rgba(67, 75, 220, 0.921);
            color: white;
        }
        &:nth-child(3):hover{
            background-color: rgba(161, 17, 17, 0.921);
            color: white;
        }
        &:nth-child(4):hover{
            background-color: rgba(255, 255, 255, 0.699);
        }
        &:nth-child(6):hover{
            background-color: rgba(67, 75, 220, 0.921);
            color: white;
        }
        &:nth-child(7):hover{
            background-color: rgba(161, 17, 17, 0.921);
            color: white;
        }
    }
    &_close{
       display: none;
    }
}

@keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
      transform: translateX(-100%);
    }
  
    1% {
      display: block;
      opacity: 0;
    }
  
    100% {
      display: block;
      transform: translateX(0);
      opacity: 1;
    }
  }

@media(max-width:$breakpoint-medium){
    .sidebar{
        width: 90px;
        li{
            justify-content: center;
        }
        span{
            display: none;
        }
    }
}

@media(max-width:$breakpoint-small){
    .sidebar{
        width: 70px;
        li{
            justify-content: center;
        }
        span{
            display: none;
        }
    }
}

.sideitem {
    display: flex;
    justify-content: center;
}