.videometa{
    &__top{
        h5{
            font-size: 1.5rem;
        }
        span{
            cursor: pointer;
        }
    }
    &__thumb{
        margin-right: 1rem;
    }
    &__btn{
        text-decoration: none;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 30px;
        background-image: linear-gradient(45deg, #6a79d7 0%, #33d9de 50%, #2f2fd3 100%);
        background-position: 100% 0;
        background-size: 200% 200%;
        font-size: 20px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        box-shadow: 0 4px 4px 0 rgba(0, 40, 120, .35);
        transition: .5s;
        &:hover{
            box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
            background-position: 0 0;
        }
    }
    &__delete{
        margin: 5px;
        text-decoration: none;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 30px;
        background-image: linear-gradient(45deg, #c4296e 0%, #de3366 50%, #d30f0f 100%);
        background-position: 100% 0;
        background-size: 200% 200%;
        font-size: 20px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        box-shadow: 0 4px 4px 0 rgba(0, 40, 120, .35);
        transition: .5s;
        &:hover{
            box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
            background-position: 0 0;
        }
    }
    &__subscribed {
        margin: 5px;
        float: right;
        background-image: linear-gradient(45deg, #dadbde 0%, #ffffff 50%, #dadbde 100%);
        text-decoration: none;
        display: inline-block;
        padding: 5px 20px;
        border-radius: 30px;
        background-position: 100% 0;
        background-size: 200% 200%;
        font-size: 1rem;
        font-weight: 600;
        color: #18669e;
        box-shadow: 0 4px 4px 0 rgba(132, 142, 164, 0.35);
        transition: .5s;
        border: none;
        &:hover{
            background-position: 0 0;
        }
    }
    &__channel{
        border-top: 1px dashed rgb(47, 84, 249);
        border-bottom: 1px groove rgb(65, 42, 239);
        &__link{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease;
            padding: 5px;
            &:hover{
                transform: scale(1.05);
                box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
                border-radius: 10px;
                background-color: rgb(142, 162, 252);
                font-weight: 700;
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 0.5rem;
            box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
        }
        span{
            font-size: 1.2rem
        }
    }
    &__description{
        font-size: 0.9rem;
        white-space: pre-line;
        border-bottom: 1px groove rgb(65, 42, 239);
    }
}