@import "../../../styles/abstracts/_variables.scss";
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    &__wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 7%;
    }
    &__menu{
        display: block;
        cursor: pointer;
    }
    &__link{
        font-weight: 700;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        letter-spacing: 2px;
        color: rgb(6, 6, 88);
        span{
            color:rgb(135, 0, 0);
            &:hover{
                color: rgb(228, 17, 42)
            }
        }
    }
    &__logo{
        margin-left: 2rem;
        width: 50px;
        height: 50px;
        object-fit: contain;
        display: block;
        border-radius: 50%;
    }
    &__username{
        color:rgb(135, 0, 0);
        font-weight: 700;
        letter-spacing: 1px;
        margin-left: 10px;
        font-size: 1.1rem;
    }
    button{
        color: rgb(41, 108, 159);
        border: none;
        &:focus{
            border: none !important;
            box-shadow:none !important;
            outline:0px !important;
        }
    }
    form{
        flex: 0.6;
        display: flex;
        padding: 0.1rem;
        margin: 0 1rem;
        border-radius: 5px;
        border: 1px solid rgb(225, 219, 219);
        background-color: $light-secondary;
        a{
            text-decoration: none;
        }
        input { 
            width: 100%;
            border: none;
            font-weight: 500;
            padding: 0.3rem;
            color: $text-dark;
            box-shadow: -1px 0px 10px -1px rgba(34, 60, 80, 0.09) inset;
            &:focus{
                outline: none;
            }
            &::-webkit-input-placeholder {
                text-align: center;
            }
            &:-moz-placeholder { 
                text-align: center;
            } 
            &::-moz-placeholder { 
                text-align: center;
            }
            &:-ms-input-placeholder {
                text-align: center;
            }
        }
        button{
            padding: 0 1.25rem;
            height: 100%;
            color: $text-dark;
            background: transparent;
            border: none;
            &:active{
                box-shadow:none !important;
                outline:0px !important;
            }
        }
    }
    &__icons{
        flex: 0.1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            border-radius: 50%;
            width: 2.5rem;
            object-fit: contain;
            margin-left: 5px;
            box-shadow: 1px -1px 10px 2px rgba(34, 60, 80, 0.2);
        }
    }
}

@media (max-width: $breakpoint-medium){
    .header{
        &__link{
            font-size: 0.9rem;
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width: $breakpoint-small){
    .header{
        padding: 1rem;
        form{
            flex: 1;
            button{
                width: 5px;
            }
        }
        &__menu{
            display: block;
        }
        &__link{
            display: none;
        }
        &__icons > *:not(img){
            display: none;
        }
        &__icons{
            img{
                width: 35px;
            }
        }
    }
}
