.loaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        margin-top: 10px;
        width: 5rem;
        height: 3rem;
        border-radius: 20%;
        &:nth-child(2){
            width: 7rem;
            height: 3rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                position: absolute;
                color: rgb(247, 241, 241);
            }
        }
    }
}

.title {
    padding-top: 16px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    color: rgb(28, 28, 125);
    font-weight: 500;
}

.subtitle {
    padding-top: 16px;
    padding-bottom: 15px;
    font-size: 1.5rem;
    color: rgb(28, 28, 125);
    font-weight: 500;
}