$text-light: #b1bdb4;
$text-dark: black;
$black-primary: #16181b;
$light-primary: white;
$black-secondary: #121417;
$light-secondary: #ffffffe7;
$border-color: #4c4c4c;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;